@{
  Layout = "_Layout";
}

<h3>Change vendor information:</h3>
<form action="/vendors/@Model.Id/update" method="post">
  <div class="form-group">
    <label for="vendorName">Vendor name</label>
    <input id="vendorName" name="vendorName" type="text" class="form-control" required>
  </div>
  <div class="form-group">
    <label for="vendorDescription">Vendor description</label>
    <input id="vendorDescription" name="vendorDescription" type="text" class="form-control" required>
  </div>
  <button type="submit" class="button">Change</button>
</form>