@{
  Layout = "_Layout";
}
@using VendorAndOrderTracker.Models;

<h3>Vendor list</h3>
@if (@Model.Count == 0)
{
  <p>No vendors yet</p>
}
@foreach (Vendor vendor in Model)
{
  <h4><a href='/vendors/@vendor.Id'>@vendor.Name</a></h4>
  <a class="button-small" href='/vendors/@vendor.Id/edit'>Update</a>
  <form action="/vendors/@vendor.Id" method="post" class="button-form">
    <button type="submit" name="button" class="button-small">Delete</button>
  </form>
}
<div class="links">
  <a class="button" href='/'>Home</a>
  <a class="button" href='/vendors/new'>Add new vendor</a>
  <form action="/vendors/delete" method="post" class="button-form">
    <button type="submit" name="button" class="button">Delete all vendors</button>
  </form>
</div>

