@{
  Layout = "_Layout";
}
@using VendorAndOrderTracker.Models;

<h3>Orders:</h3>
@if (@Model["orders"].Count == 0)
{
  <p>No orders yet</p>
}
<ol>
@foreach (Order order in @Model["orders"])
{
  <li>
    <h4><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></h4>
    <form action='/vendors/@Model["vendor"].Id/orders/@order.Id' method="post" class="button-form">
      <button type="submit" name="button" class="button-small">Delete</button>
    </form>
  </li>
}
</ol>
<div class="links">
  <a class="button" href='/'>Home</a>
  <a class="button" href='/vendors'>Vendor list</a></span>
  <a class="button" href='/vendors/@Model["vendor"].Id/orders/new'>Add new order</a>
  <form action='/vendors/@Model["vendor"].Id/orders/delete' method="post" class="button-form">
    <button type="submit" name="button" class="button">Delete all orders</button>
  </form>
</div>

