@{
  Layout = "_Layout";
}
@using VendorAndOrderTracker.Models;

<div class="container">
  <h3>Orders:</h3>
  <ol>
  @foreach (Order order in @Model["orders"])
  {
    <li><a href='/vendors/@Model["vendor"].Id/orders/@order.Id'>@order.Title</a></li>
  }
  </ol>

  <p><a href='/vendors/@Model["vendor"].Id/orders/new'>Add a new order</a></p>
  <p><a href='/vendors'>Vendor list</a></p>
  <p><a href='/'>Home</a></p>
</div>
