@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Pierre's Bakery Vendor and Order tracker</h1>
  <h3><a href='/vendors'>Vendor list</a></h3>
  <h3><a href='/vendors/new'>Add new vendor</a></h3>
</div>