@{
  Layout = "_Layout";
}

<h3>Order removed</h3>
<div class="links">
  <a class="button" href='/vendors/@Model.Id'>Back to order list</a>
  <a class="button" href='/'>Home</a>
  <a class="button" href='/vendors'>Vendor list</a>
</div>

