@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Order removed</h1>
  <p><a href='/vendors/@Model.Id'>Back to order list</a></p>
  <p><a href='/'>Home</a></p>
  <p><a href='/vendors'>Vendor list</a></p>
</div>
