@{
  Layout = "_Layout";
}

<div class="container">
  <h1>All orders removed</h1>
  <p><a href="/orders">Back to order list</a></p>
  <p><a href='/'>Home</a></p>
  <p><a href='/vendors'>Vendor list</a></p>
</div>
