@{
  Layout = "_Layout";
}

<h3>Order Details:</h3>
<h4>@Model["order"].Title</h4>
<p>@Model["order"].Description</p>
<p>Price: $@Model["order"].Price</p>
<p>Date: @Model["order"].Date</p>
<div class="links">
  <a class="button" href='/vendors/@Model["vendor"].Id/orders/new'>Add new order</a>
  <a class="button" href='/vendors/@Model["vendor"].Id'>Back to all orders</a>
  <a class="button" href='/vendors'>Vendor list</a>
</div>

